@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

.turbo-progress-bar {
  background-color: #ff0000ce !important;
  height: 4px !important;
}

.clickable {
  cursor: pointer;
}
