<% if resource.errors.any? %>
  <div class="notification bg-transparent">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li>* <%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
